DNS_PROJECT="quixotic-dynamo-213210"
LB_PROJECT="quixotic-dynamo-213210"
# zone name on cloud DNS must be converted from domain dot(.) to dash(-)
# etc if domain is "www.example.com"  when zone name must be "www-example-com"
TARGET_DOMAINS=("dmitriy1207test.pp.ua")
M_DOMAIN="dmitriy1207.pp.ua"

# You can choice "NAME" form "gcloud beta compute target-https-proxies list"
HTTPS_PROXY="lb-test-target-proxy"
# CERT_NAME="auto-`date "+%Y%m%d%H%M"`"

SLEEP_SECONDS=60
. /etc/gcp-ssl-auto-renewer/hooks/httpslb.base
